<h1 class="heading-large">
  <%= @case_request.title %>
</h1>

<% if @case_request.fees? %>
  <p>
    <!-- Step numbering goes here -->
  </p>
  <p class="lede">
    <%= t('.case_reference_html', case_reference: @case_request.case_reference) %>
  </p>
  <p><%= t('.you_need_to_pay') %></p>

  <div class="notice notice-payment util_mt-large">
    <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('.warning') %></span>
    </i>
    <strong class="bold-small">
      <%= t('.lose_the_right') %>
    </strong>
  </div>

    <% if @case_request.all_fees_paid? %>
      <%= t('.payments_are_up_to_date') %>
      <%= t('.other_fees_may_be_due') %>
    <% else %>
      <div class="liabilities-list">
        <%= render @case_request.case_fees.first %>
      </div>
      <p><%= t('.select_payment_method') %></p>

      <%= form_tag(payment_method_url(@case_request.case_fees.first.id), method: :put) %>
      <fieldset>
          <label class='block-label selection-button-radio'>
            <%= radio_button_tag(:payment_method, :card) %>
            <strong><%= t('.debit_or_credit_card') %></strong>
          </label>
          <label class='block-label selection-button-radio'>
            <%= radio_button_tag(:payment_method, :help_with_fees) %>
            <strong><%= t('.help_with_fees') %></strong>
            <br />
            <%= t('.when_to_request_help_with_fees') %>
          </label>
          <label class='block-label selection-button-radio'>
            <%= radio_button_tag(:payment_method, :cheque) %>
            <strong><%= t('.cheque') %></strong>
          </label>
        </fieldset>
        <p>
          <%= submit_tag(t('.continue')) %>
        </p>
      </form>
    <% end %>
<% else %>
  <p class="lede">
    <%= t('.no_outstanding_fees') %>
  </p>

  <p>
    <%= t('.a_number_of_reasons') %>
  </p>

  <ul class="list list-bullet">
    <%= t('.reasons_html') %>
  </ul>

  <p>
  <a
    href="https://www.gov.uk/courts-tribunals/first-tier-tribunal-tax"
    target="_blank"
    rel="external"><%= t('.contact_the_tribunal') %></a>
    <%= t('.if_you_believe') %>
  </p>
<% end %>
