<h1 class="heading-large">
  <span class="heading-secondary"><%= @case_request.case_reference %></span>
  <%= @case_request.case_title %>
</h1>

<% if @case_request.liabilities? %>
  <p class="lede">
    <%= t('.you_need_to_pay') %>
  </p>

  <div class="notice notice-payment">
    <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('.warning') %></span>
    </i>
    <strong class="bold-small">
      <%= t('.lose_the_right') %>
    </strong>
    </div>

    <div class="liabilities-list">
      <% if @case_request.all_fees_paid? %>
        <%= t('.payments_are_up_to_date') %>
        <%= t('.other_fees_may_be_due') %>
      <% else %>
        <%= render @case_request.liabilities %>
      <% end %>
    </div>
<% else %>
  <p class="lede">
    <%= t('.no_outstanding_fees') %>
  </p>

  <p>
    <%= t('.a_number_of_reasons') %>
  </p>

  <ul class="list list-bullet">
    <%= t('.reasons_html') %>
  </ul>

  <p>
  <a
    href="https://www.gov.uk/courts-tribunals/first-tier-tribunal-tax"
    target="_blank"
    rel="external"><%= t('.contact_the_tribunal') %></a>
    <%= t('.if_you_believe') %>
  </p>
<% end %>

<p>
  <%= link_to t('.find_another_case'), new_case_request_path, class: 'link-back' %>
</p>
