<div class="grid-row">
  <h1 class="heading-large"><%= t('.pay_your_fees') %></h1>
  <p class="lede">
  <%= t('.leader') %>
  </p>
  <%= t('.try_to_settle_html') %>
  <h2 class="heading-medium"><%= t('.before_you_start') %></h2>
  <p>
  <%= t('.what_you_need_html') %>
  </p>
  <p class="notice util_mt-large">
  <%= t('.warning_html') %>
  </p>
  <p>
  <% if @glimr_is_not_available %>
    <h1 class='heading-large'><%= t('apis.service_unavailable') %></h1>
  <% else %>
    <%= link_to t('.start_now') , new_case_request_path, class: 'button button-start' %>
  <% end %>
  </p>
	<h2 class="heading-medium"><%= t('.other_ways_header') %></h2>
	<ul class="list list-bullet">
		<li>
			<%= t('.paper_form_html') %>
		</li>
    <li>
      <%= t('.send_your_form') %>
		</li>
	</ul>
</div>
