<h1 class="heading-large">
  <span class="heading-secondary"><%= @fee.case_reference %></span>
  <%= @fee.case_title %>
</h1>

<div class="govuk-box-highlight">
  <h1 class="bold-large"><%= t('.payment_successful') %></h1>

  <p>
    <%= raw @paid_via_copy %>
  </p>
</div>
<p><%= t('.confirmation_email') %></p>

<h2 class="heading-medium"><%= t('.what_happens_next') %></h2>
<p>
  <%= t('.what_the_tribunal_will_do') %>
</p>
<p>
  <%= t('.what_did_you_think_html') %>
</p>

<p>
  <%= link_to t('fees.find_another_case'), new_case_request_path, class: 'link-back' %>
</p>
