<div class="grid-row payments-row">
  <div class="column-one-third">
    <div class="data">
      <h2 class="bold-xlarge"><%= number_to_currency(fee.amount_in_pounds) %></h2>
      <p class="bold-small"><%= fee.description %></p>
    </div>
  </div>
  <div class="column-two-thirds">
    <p>
    <% if @help_with_fees %>
      <%= link_to t('.pay_via_help_with_fees'), pay_fee_url(fee), class: 'button' %>
    <% else %>
      <%= link_to t('.pay_now'), pay_fee_url(fee), class: 'button' %>
    <% end %>
    </p>
    <p class="font-xsmall">
    <%= t('.gov_pay_redirect') %>
    </p>
  </div>
</div>
